name: test

on:
  push:
  pull_request:

jobs:
  rust-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry + target
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test --all-targets --all-features
